body{
	width: 75%;
	margin:0 auto;
}
.bg { 
	/* The image used */
	background-image: url("../img/img1.jpg");

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
table{
	width:100%;
	margin:0, 0, 0, 10%;
}
table, th, td {
	border: 3px solid red;
	border-collapse: collapse;
	background-color:white;
	height: 50px;
}
td a{
	padding:15px;
	height:100%;
	display:block;
	text-decoration: none;
	text-align:center;
	color:black;
}
td a:hover{
	background-color:black;
	color:white;
}
